.navbar {
    height: fit-content;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: #09367a;
  gap:1rem ;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-lg);  
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: white;
  padding: 0.75rem;
  border-radius: var(--mantine-radius-md);
  font-weight: 600;
  margin: 0.8rem;

  @mixin hover {
    background-color: #bad8e5;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: #bad8e5;
      color: #09367a;

      .linkIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
