.header {
  height: 12rem;
  background-color: #344CB7;
  margin-top: 1rem;
}

.inner {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.normalLink {
  display: block;
  line-height: 1;
  padding: 6px 10px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  font-family: "Roboto Flex", serif;
  @mixin hover {
    color: white;
  }
}

.subLink {
  /* color: black;  */
  display: block;
  line-height: 1;
  padding: 8px 12px; 
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  @mixin hover {
    background-color: rgba(0, 0, 0, 0.05); 
  }
}

.linkLabel {
  margin-right: 5px;
}

.mobileMenu {
  background-color: #05badd;
  padding: 10px;
  border-radius: var(--mantine-radius-sm);
  margin-top: 10px;
}

.mobileLink {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  cursor: pointer;
}

.mobileSubMenu {
  padding-left: 20px;
  margin-top: 5px;
}

.mobileSubLink {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}
