.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    /* padding-bottom: calc(var(--mantine-spacing-xl) * 2); */
    min-height: fit-content;
  }
  
  .title {
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  }
  
  .item {
    border-radius: var(--mantine-radius-md);
    margin-bottom: var(--mantine-spacing-lg);
  }
  .question{
    border-radius:1rem;
  }
  .answer{
    border: none;
  }